@model GuildWars2Web.Models.ProfileViewModel

<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-xs">@(Model.Username)</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="@Url.Content(Model.Avatar)" class="img-circle" alt="User Image">

            <p>
                @(Model.Username) @{ if(Model.Role != null || Model.Role.Length > 0) { @Html.Raw("- " + Model.Role); } }
                <small>Member since @(Model.SubDate.Month). @(Model.SubDate.Year)</small>
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="@Url.Action("Index", "Account")" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a href="@Url.Action("Signout", "Account")" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
